.header {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: auto;
  background-color: #0098ff;
}

body {
  overflow: hidden;
}

.content {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;  
}

.body_sub {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 2px;
  bottom: 2px;
  min-height: auto;
  min-width: auto;
}

.top_main_grid {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  background-color: #62b6ee;
  box-shadow: 1px 1px 3px 0 #000;
}

.top_menu_bar {
  position: absolute;
  left: 0px;
  top: 52px;
  right: 0px;
  width: 100%;
  height: 30px;
}

.content {
  position: absolute;
  left: 0px;
  top: 84px;
  right: 0px;
  bottom: 0px;
}

.past_upload_file {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 30px;
}

.past_upload_file_list {
  position: absolute;
  left: 0px;
  top: 3px;
  right: 100px;
  height: 28px;  
}

.past_upload_file_process_but {
  position: absolute;
  width: 45px;
  top: 3px;
  right: 50px;
  height: 28px;  
}

.past_upload_file_del_but {
  position: absolute;
  width: 45px;
  top: 3px;
  right: 5px;
  height: 28px;  
}

.file_upload {
  position: absolute;
  left: 0px;
  top: 33px;
  right: 0px;
  height: 60px;
}

.doc {
  position: absolute;
  left: 0px;
  top: 97px;
  right: 0px;
  bottom: 0px;
}

#doc_component {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.iframe_doc_component {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.view_data_type_combo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 30px;  
}

.view_data_list {
  position: absolute;
  left: 0px;
  top: 33px;
  width: 100%;
  bottom: 0px;  
}

.voca_selected {
  color: #FF0000;
}