.header {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: auto;
  background-color: #0098ff;
}

body {
  overflow: hidden;
}

.body_sub {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 2px;
  bottom: 2px;
  min-height: auto;
  min-width: auto;
}

.top_main_grid {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  background-color: #62b6ee;
  box-shadow: 1px 1px 3px 0 #000;
}

.top_menu_bar {
  position: absolute;
  left: 0px;
  top: 52px;
  right: 0px;
  width: 100%;
  height: 30px;
}

.content {
  position: absolute;
  left: 0px;
  top: 84px;
  right: 0px;
  bottom: 0px;
}

.infra_info {
  position:absolute;
  left: 0px;
  width: 33%;
  top: 0px;
  height: 100%;
}

#infra_info_sub {
  position:absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;  
}

.set_search_input_time_time {
  position:absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 25px;
}

.set_search_input_time_start {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 48%;
  bottom: 0px;
}

#set_search_input_time_start_sub {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.set_search_input_time_end {
  position:absolute;
  top: 0px;
  left: 52%;
  right: 0;
  bottom: 0px;
}

#set_search_input_time_end_sub {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.set_search_input_time_is_now {
  position:absolute;
  height: 15px;
  width: 66px;
  right: 2px;
  bottom: 2px;
}

#set_search_input_time_is_now_sub {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.infra_info_content_memory_chart {
  position: absolute;
  left: 5px;
  right: 5px;
  height: 300px;
  top: 5px;
}

.infra_info_content_cpu_chart {
  position: absolute;
  left: 5px;
  right: 5px;
  height: 300px;
  top: 310px;
}

#infra_info_content_memory_chart_sub {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#infra_info_content_cpu_chart_sub {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.set_search_input_time {
  position:absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  height: 50px;
}

.infra_info_content {
  position:absolute;
  left: 2px;
  right: 2px;
  top: 48px;
  bottom: 2px;
}
