.header {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: auto;
  background-color: #0098ff;
}

body {
  overflow: hidden;
}

.body_sub {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 2px;
  bottom: 2px;
  min-height: auto;
  min-width: auto;
}

.top_main_grid {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  background-color: #62b6ee;
  box-shadow: 1px 1px 3px 0 #000;
}

.top_menu_bar {
  position: absolute;
  left: 0px;
  top: 52px;
  right: 0px;
  width: 100%;
  height: 30px;
}

.top_menu_icon {
  position: absolute;
  left: 0px;
  top: 84px;
  right: 0px;
  overflow: visible;
  height: 40px;
}

.content {
  position: absolute;
  left: 0px;
  top: 126px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}

.left_right_splitter_component {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.left_splitter {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
  height: 100%;
}

.right_splitter {
  position: absolute;
  left: 300px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.search_text {
  position: absolute;
  left: 5px;
  top: 5px;
  right: 5px;
  height: 30px;
}

.data_tree {
  position: absolute;
  left: 5px;
  top: 40px;
  right: 5px;
  bottom: 5px;
}

.source_data_tab {
  position: absolute;
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
}

.new_rgst_window_nm_label {
  position: absolute;
  left: 10px;
  top: 40px;
  height: 20px;
  width: 90px;  
}

.new_rgst_window_nm_txt {
  position: absolute;
  left: 100px;
  top: 35px;
  height: 20px;
  width: 400px;
}

.new_rgst_window_desc_label {
  position: absolute;
  left: 10px;
  top: 68px;
  width: 90px;
  height: 100px;  
}

.new_rgst_window_desc_txt {
  position: absolute;
  left: 100px;
  top: 65px;
  width: 400px;
  height: 100px;  
}

.new_rgst_window_ok_but {
  position: absolute;
  width: 50px;
  height: 30px;
  right: 90px;
  bottom: 15px;
}

.new_rgst_window_cancel_but {
  position: absolute;
  width: 50px;
  height: 30px;
  right: 20px;
  bottom: 15px;
}

.div_src_cd {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.div_case_input_rslt {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.text_src_cd {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.case_input {
  position: absolute;
  right: 2px;
  height: 49%;
  left: 2px;
  top: 2px;
}

.rslt_expt {
  position: absolute;
  right: 2px;
  bottom: 2px;
  left: 2px;
  top: 51%;
}

.cell_not_edited {
  color: black;
  font-style: none;
}

.cell_edited {
  color: #b90f0f !important;
  font-style: italic;
}

.agent_down_pop_window_label {
  position: absolute;
  right: 20px;
  left: 20px;
  top: 40px;
  bottom: 70px;
  text-align: center;
}

.agent_down_pop_window_down_but {
  position: absolute;
  width: 70px;
  height: 30px;
  left: 215px;
  bottom: 10px;  
}