<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="db" class="org.apache.logging.log4j.core.appender.db.jdbc.JdbcAppender">
    <param name="BufferSize" value="2"/>
    <param name="URL" value="jdbc:mysql://kokodog.fun25.co.kr:19402/kokodogdev?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true"/>
    <param name="user" value="leems83"/>
    <param name="password" value="ZF4tq#LYo!"/>
    <param name="sql" value="INSERT INTO cmn_app_log(datetime, millisec, log_typ, class_nm, method_nm, log_msg) VALUES('%d{yyyy-MM-dd HH:mm:ss}', '%d{SSS}', '%p','%C','%M','%m')"/>
  </appender>
  <logger name="com">
    <level value="debug"/>
  </logger>
  <root>
    <level value="warn"/>
    <appender-ref ref="db"/>
  </root>
</log4j:configuration>