.header {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: auto;
  background-color: #0098ff;
}

body {
  overflow: hidden;
}

.body_sub {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 2px;
  bottom: 2px;
  min-height: auto;
  min-width: auto;
}

.top_main_grid {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  background-color: #62b6ee;
  box-shadow: 1px 1px 3px 0 #000;
}

.top_menu_bar {
  position: absolute;
  left: 0px;
  top: 52px;
  right: 0px;
  width: 100%;
  height: 30px;
}

.content {
  position: absolute;
  left: 0px;
  top: 84px;
  right: 0px;
  bottom: 0px;
}

.content_tabs {
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;  
}

#content_tabs_sub {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;  
}

.content_tabs_contents {
  position: absolute;
  left: 2px;
  top: 37px;
  right: 2px;
  bottom: 2px;  
}

.infra_info_content {
  position:absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
}

.infra_info_content_memory_chart {
  position: absolute;
  left: 5px;
  right: 5px;
  height: 300px;
  top: 5px;
}

.infra_info_content_cpu_chart {
  position: absolute;
  left: 5px;
  right: 5px;
  height: 300px;
  top: 310px;
}

#infra_info_content_memory_chart_sub {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#infra_info_content_cpu_chart_sub {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.set_search_input_time {
  position:absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  height: 50px;
}

.infra_info_content {
  position:absolute;
  top: 60px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  overflow: auto;
}

#infra_info_content_sub {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
}

.set_search_input_time_time {
  position:absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 25px;
}

.set_search_input_time_start {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 48%;
  bottom: 0px;
}

#set_search_input_time_start_sub {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.set_search_input_time_end {
  position:absolute;
  top: 0px;
  left: 52%;
  right: 0;
  bottom: 0px;
}

#set_search_input_time_end_sub {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.set_search_input_time_is_now {
  position:absolute;
  height: 15px;
  width: 66px;
  right: 2px;
  bottom: 2px;
}

#set_search_input_time_is_now_sub {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.set_app_log_input_time_start {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 48%;
  bottom: 0px;
}

#set_app_log_input_time_start_sub {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.set_app_log_input_time_end {
  position:absolute;
  top: 0px;
  left: 52%;
  right: 0;
  bottom: 0px;
}

#set_app_log_input_time_end_sub {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.infra_info_content_app_log {
  position:absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;  
}

#infra_info_content_app_log_sub {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: scroll;
  white-space: nowrap;
  border-width: 1px;
  border-color: #7f7f7f;
  border-radius: 5px;
  border-style: solid;
}

.set_batch_hst_input_time_start {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 48%;
  bottom: 0px;
}

#set_batch_hst_input_time_start_sub {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.set_batch_hst_input_time_end {
  position:absolute;
  top: 0px;
  left: 52%;
  right: 0;
  bottom: 0px;
}

#set_batch_hst_input_time_end_sub {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.set_batch_hst_input_time_is_now {
  position:absolute;
  height: 15px;
  width: 66px;
  right: 30px;
  bottom: 2px;
}

#set_batch_hst_input_time_is_now_sub {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.app_log_style_fatal {
  color: #C00000;
}

.app_log_style_error {
  color: #C00000;
}

.app_log_style_warn {
  color: #A0A000;
}

.app_log_style_debug {
  color: #0000C0;
}

.app_log_style_info {
  color: #0000C0;
}

.app_log_style_trace {
  color: #0000C0;
}

.batch_exe_hst_grid {
  position:absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#batch_exe_hst_grid_sub {
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.set_search_input_time_for_batch_hst {
  position:absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  height: 50px;
}

.set_search_input_time_for_app_log {
  position:absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  height: 70px;
}

.set_search_input_time_for_app_log_time {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
}

.set_search_input_time_for_app_log_select {
  position:absolute;
  top: 27px;
  left: 0;
  right: 0;
  bottom: 0;
}

.set_app_log_filter_txt {
  position:absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  height: 23px;
}

.set_app_log_typ_combo {
  position:absolute;
  top: 27px;
  left: 2px;
  right: 130px;
  height: 23px;
}

.set_app_log_search_but {
  position:absolute;
  top: 27px;
  width: 125px;
  right: 2px;
  height: 23px;
}

#set_app_log_filter_txt_sub {
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#set_app_log_typ_combo_sub {
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#set_app_log_search_but_sub {
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.infra_info_content_log {
  position:absolute;
  left: 2px;
  right: 2px;
  top: 82px;
  bottom: 2px;
}